* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.option-area {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.top {
  align-self: flex-start;
}

.result {
  h3 {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.container {
  position: relative;
  max-width: 476px;
  padding-top: 230px;

  .bg-area {
    position: relative;
    #paper-bg {
      position: relative;
      width: 100%;
    }

    #protractor-bg {
      width: 75%;
      top: 36.5%;
      left: 50.5%;
      transform: translate(-50%, -50%);
      position: absolute;
    }

    #pen-container {
      width: 100%;
      top: -10%;
      left: 2.5px;
      position: absolute;
      display: block;
      z-index: 10;
      transform-origin: bottom center;
      max-height: 300px;
      overflow: hidden;
      #pen {
        width: 36px;
        display: block;
        margin: auto;
      }
    }

    #line-container {
      position: absolute;
      display: block;
      width: 100%;
      left: 2.5px;
      top: 36%;
      z-index: 2;
      max-height: 400px;
      overflow: hidden;
      transform-origin: 50% 0%;
      #line {
        display: block;
        margin: auto;
      }
    }

    #tools-container {
      width: 100%;
      position: absolute;
      margin: auto;
      top: 36.5%;
      #water-bowl-img {
        display: block;
        margin: auto;
        width: 60%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    overflow: hidden;
  }
}
